@keyframes changeColor {
    0% {color: #606060}
    30% {color: #017B93}
    50% {color: #7A2F01}
    80% {color: #FEFDC7}
    100% {color: #FA9206}
}

#mainTitle
{
    animation:animated_transform 5s 1;
    -moz-animation:animated_transform 5s 1;
    -webkit-animation:animated_transform 5s 1;
    -o-animation:animated_transform 5s 1;
}

@keyframes animated_transform
{
    0%		{transform: rotate(0deg);left:0px;}
    25%		{transform: rotate(20deg);left:0px;}
    50%		{transform: rotate(0deg);left:500px;}
    55%		{transform: rotate(0deg);left:500px;}
    70%		{transform: rotate(0deg);left:500px;}
    100%	{transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_transform
{
    0%		{-webkit-transform: rotate(0deg);left:0px;}
    25%		{-webkit-transform: rotate(20deg);left:0px;}
    50%		{-webkit-transform: rotate(0deg);left:500px;}
    55%		{-webkit-transform: rotate(0deg);left:500px;}
    70%		{-webkit-transform: rotate(0deg);left:500px;}
    100%	{-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_transform
{
    0%   {-moz-transform: rotate(0deg);left:0px;}
    25%  {-moz-transform: rotate(20deg);left:0px;}
    50%  {-moz-transform: rotate(0deg);left:500px;}
    55%  {-moz-transform: rotate(0deg);left:500px;}
    70%  {-moz-transform: rotate(0deg);left:500px;}
    100% {-moz-transform: rotate(-360deg);left:0px;}
}

#bannerTitle{
    animation:yMove 2s 1;
    -moz-animation:yMove 2s 1;
    -webkit-animation:yMove 2s 1;
    -o-animation:yMove 2s 1;
}

@keyframes yMove
{
    from{margin-top: 100px}
    to{margin-top: 0px}
}

@-webkit-keyframes yMove /* Safari and Chrome */
{
    from{margin-top: 100px}
    to{margin-top: 0px}
}

@-webkit-keyframes yMove /* Safari and Chrome */
{
    from{margin-top: 100px}
    to{margin-top: 0px}
}

